@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

li,
a,
button {
  text-decoration: none;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  width: 180px;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* padding: 9px 20px; */
  padding-left: 70px;
  padding-right: 70px;
  border-bottom: 2px solid #f0f0f0;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  /* padding: 0px 20px; */
}

.nav-links li a {
  transition: all 0.3s ease 0s;
  color: #32323d;
  font-size: 1.2rem;
  font-weight: 900;
}

button {
  position: relative;
  top: 13px;
  margin-left: 15px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 900;
  transition: all 0.3s ease 0s;
}

button.btn1 {
  background: white;
  color: #2d96c8;
  border: 2px solid #2d96c8;
  padding: 10px 30px;
}

button.btn1:hover {
  border: 2px solid #03608a;
}

button.btn2 {
  background: #2d96c8;
  color: #ffffff;
  padding: 10px 30px;
}

button.btn2:hover {
  background: #03608a;
}

/* Hero Section Styling */

section.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 70px;
  /* padding-right: 50px; */
}

div.intro {
  padding-top: 50px;
}

div.intro h1 {
  color: #32323d;
  font-size: 2.4rem;
  font-weight: 900;
}

div.intro h3 {
  color: #ef5466;
  font-size: 1.9rem;
  font-weight: 700;
}

div.premium-buttons {
  padding-top: 30px;
}

#btn-premium {
  background: #ef5466;
  color: #fce6e9;
  font-size: 1.2rem;
  font-weight: 900;
  padding: 15px 30px;
  border-radius: 50px;
}

#btn-free {
  background: #fff;
  color: #32323d;
  border: 2px solid #32323d;
  font-size: 1.2rem;
  font-weight: 900;
  padding: 15px 40px;
  border-radius: 50px;
  margin-left: 20px;
}

div.image {
  position: relative;
  top: -30px;
}

div.image img {
  width: 800px;
}

/* Deezer Section Styling */

section.deezer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 20px;
  background: #f9f9f9;
}

div.grid-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

div.mini-info h4 {
  padding-top: 40px;
  font-size: 1.5rem;
  color: #32323d;
}

div.mini-info p {
  padding-top: 20px;
  font-size: 1.1rem;
  color: #32323d;
}

.phone-info {
  padding-top: 80px;
}

.phone-info h1 {
  color: #32323d;
  font-size: 2.5rem;
  font-weight: 900;
}

/* Section Deezer Bg1 Styling */

section.deezer-bg1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  background-color: #ef5466;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}

div.deezer-icons i {
  color: #fce6e9;
  margin: 10px;
  font-size: 2.6rem;
}

div.deezer-devices h2 {
  color: #fce6e9;
  font-size: 2.3rem;
  font-weight: 900;
}

div.deezer-devices p {
  padding-top: 30px;
  color: #fce6e9;
  font-size: 1.3rem;
}

/* Section Deezer-music Styling */

section.deezer-music {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 60px;
}

section.deezer-music h2 {
  font-size: 2.4rem;
  text-align: center;
}

section.deezer-music p {
  text-align: center;
  padding-top: 30px;
  color: #adaaa1;
}

section.deezer-music i {
  text-align: center;
}

.deezer-recommendation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  padding-top: 10px;
}

.deezer-fre {
  background: #fff;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  height: 570px;
  padding: 20px 30px;
}

.deezer-fre h3 {
  color: #32323d;
  font-size: 2rem;
  text-align: center;
}

div.deezer-button {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button#button1 {
  background: #8e8e94;
  color: #fff;
  padding: 10px 35px;
  font-size: 1rem;
}

div.tag {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.tag a {
  color: #2d96c8;
  font-weight: 500;
  font-size: 1rem;
}

ul {
  padding-top: 30px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

ul li {
  list-style: none;
  margin: 15px;
  font-size: 1rem;
}

.deezer-fre1 {
  background: #2d96c8;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  height: 570px;
  padding: 20px 30px;
}

.deezer-fre1 h3 {
  color: #fff;
  font-size: 2rem;
  text-align: center;
}

div.deezer-button {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button#button2 {
  background: #ef5466;
  color: #f0f0f0;
  padding: 10px 35px;
  font-size: 1rem;
}

div.tag1 {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.tag1 a {
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
}

.deezer-fre2 {
  background: #fff;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  height: 570px;
  padding: 20px 30px;
}

.deezer-fre2 h3 {
  color: #32323d;
  font-size: 2rem;
  text-align: center;
}

div.deezer-button {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button#button2 {
  background: #ef5466;
  color: #f0f0f0;
  padding: 10px 35px;
  font-size: 1rem;
}

div.tag2 {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.tag2 a {
  color: #2d96c8;
  font-weight: 500;
  font-size: 1rem;
}

div.deezer-remains {
  padding-top: 50px;
  padding-bottom: 40px;
}

div.deezer-remains p {
  color: #90909d;
  font-size: 0.8rem;
}

/* Section Annual Plan Styling */

section.annual-plan {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  background: #f0f0f0;
}

div.plan1 h3 {
  color: #32323d;
  font-size: 1.9rem;
}

div.plan1 p {
  padding-top: 10px;
  font-size: 1.2rem;
}

div.annual-subscribe {
  padding-top: 30px;
}

div.annual-subscribe a {
  border: 2px solid #32323d;
  padding: 10px 40px;
  color: #32323d;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 900;
}

/* Section Deezer Hifi Styling */

section.deezer-hifi {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  background: #f0f0f0;
}

div.plan1 h3 {
  color: #32323d;
  font-size: 1.9rem;
}

div.plan1 p {
  padding-top: 10px;
  font-size: 1.2rem;
}

div.hifi-learn {
  padding-top: 30px;
}

div.hifi-learn a {
  border: 2px solid #32323d;
  padding: 10px 40px;
  color: #32323d;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 900;
}

/* Deezer Footer Styling */

section.deezer-footer {
  display: grid;
  grid-template-columns: auto auto;
  background: #32323d;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 50px;
  padding-bottom: 60px;
}

div.footer-image {
  padding-top: 70px;
}

div.footer-image img {
  width: 180px;
  margin-bottom: 25px;
}

#icons {
  padding-left: 10px;
}

div.footer-image i {
  color: #6e6e79;
  margin: 5px;
  border: 2px solid #6e6e79;
  border-radius: 50%;
  padding: 7px 6px;
}

div.footer-image i:hover {
  background: #6e6e79;
  color: #32323d;
}

div.footer-links-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

div.footer-links-wrap li {
  list-style: none;
  padding-top: 20px;
}

div.footer-links-wrap li a {
  color: #ccccc3;
  font-size: 0.9rem;
  font-weight: 900;
}

div.heading h4 {
  color: #2d96c8;
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-transform: uppercase;
}

div.footer-lang {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-top: 2rem;
}

div.footer-lang h5 {
  color: #ccccc3;
  font-size: 1rem;
}

div.footer-lang p {
  color: #6e6e79;
  font-size: 0.7rem;
}
