@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 900;
  font-family: "Ubuntu", sans-serif;
}

header {
  padding-left: 70px;
  padding-right: 70px;
  border-bottom: 2px solid #f0f0f0;
}

li,
a,
button {
  text-decoration: none;
}

/* body {
  padding: 5px 20px;
} */

.logo img {
  width: 180px;
}

ul {
  list-style: none;
}

ul a {
  color: #32323d;
  text-decoration: none;
}

ul a:hover {
  text-decoration: none;
}

.menu li {
  font-size: 1.2rem;
  /* padding: 15px 5px; */
}

.menu li a {
  display: block;
}

.button.secondary {
  border-bottom: 1px solid #adaaa1;
}

/* Mobile menu */

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  order: 1;
}

.item.button {
  order: 2;
}

.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}

.item.active {
  display: block;
}

.toggle {
  cursor: pointer;
}

.bars {
  background: #32323d;
  display: inline-block;
  height: 2px;
  width: 18px;
  position: relative;
}

.bars::before,
.bars::after {
  background: #999;
  display: inline-block;
  height: 2px;
  position: absolute;
  width: 18px;
  content: "";
}

.bars::before {
  top: 5px;
}

.bars::after {
  top: -5px;
}

/* Tablet Menu */

@media (min-width: 468px) {
  .menu {
    justify-content: center;
  }

  .logo {
    flex: 1;
  }

  .item.button {
    width: auto;
    order: 1;
    display: block;
  }

  .toggle {
    order: 2;
  }

  .button.secondary {
    border: 0;
  }
  .button a {
    text-decoration: none;
    padding: 10px 30px;
    background: #fff;
    color: #2d96c8;
    border: 2px solid #2d96c8;
    border-radius: 50em;
  }

  .button.secondary a {
    background: #2d96c8;
    color: #fff;
    border: none;
  }

  .button a:hover {
    transition: all 0.25s;
  }

  .button:not(.secondary) a:hover {
    color: #03608a;
    border: 2px solid #03608a;
  }

  .button.secondary a:hover {
    color: #fff;
    background: #03608a;
  }
}

@media (min-width: 768px) {
  .item {
    display: block;
    width: auto;
  }

  .toggle {
    display: none;
  }

  .logo {
    order: 0;
  }

  .item {
    order: 1;
  }

  .button {
    order: 2;
  }

  /* .menu li {
    padding: 15px 10px;
  } */

  .menu li.button {
    padding-right: 0;
  }
}

/* Hero Section Styling */

section.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 70px;
  /* padding-right: 50px; */
}

@media (max-width: 468px) {
  section.hero {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 10px;
  }

  div.intro h1 {
    text-align: center;
    font-size: 1rem;
  }

  div.intro h3 {
    font-size: 1.1rem;
    text-align: center;
  }

  div.image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
  }

  .premium-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #btn-premium {
    font-size: 1.2rem;
    padding: 20px 40px;
  }

  #btn-free {
    font-size: 1.2rem;
    padding: 20px 40px;
    margin-top: 10px;
  }
}

div.intro {
  padding-top: 50px;
}

div.intro h1 {
  color: #32323d;
  font-size: 2.4rem;
  font-weight: 900;
}

div.intro h3 {
  color: #ef5466;
  font-size: 1.9rem;
  font-weight: 700;
}

div.premium-buttons {
  padding-top: 30px;
}

#btn-premium {
  background: #ef5466;
  color: #fce6e9;
  font-size: 1.2rem;
  font-weight: 900;
  padding: 15px 30px;
  border-radius: 50px;
}

#btn-free {
  background: #fff;
  color: #32323d;
  border: 2px solid #32323d;
  font-size: 1.2rem;
  font-weight: 900;
  padding: 15px 40px;
  border-radius: 50px;
  margin-left: 20px;
}

div.image {
  position: relative;
  top: -30px;
}

div.image img {
  width: 800px;
}

/* Deezer Section Styling */

section.deezer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 20px;
  background: #f9f9f9;
}

div.grid-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

div.mini-info h4 {
  padding-top: 40px;
  font-size: 1.5rem;
  color: #32323d;
}

div.mini-info p {
  padding-top: 20px;
  font-size: 1rem;
  color: #32323d;
}

.phone-info {
  padding-top: 80px;
}

.phone-info h1 {
  color: #32323d;
  font-size: 2.5rem;
}

/* Mobile For Deezer Section */

@media (max-width: 468px) {
  section.deezer {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 10px;
  }

  div.grid-info {
    display: flex;
    flex-direction: column;
  }

  div.phone-info h1 {
    text-align: center;
  }

  .phone-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #phone {
    height: 300px;
  }
}

/* Section Deezer Bg1 Styling */

section.deezer-bg1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  background-color: #ef5466;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}

div.deezer-icons i {
  color: #fce6e9;
  margin: 10px;
  font-size: 2.6rem;
}

div.deezer-devices h2 {
  color: #fce6e9;
  font-size: 2.3rem;
}

div.deezer-devices p {
  padding-top: 30px;
  color: #fce6e9;
  font-size: 1.3rem;
}

/* Mobile Section Deezer Bg1 Styling */

@media (max-width: 468px) {
  section.deezer-bg1 {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 20px;
    padding-right: 10px;
  }

  div.deezer-devices h2 {
    text-align: center;
    font-size: 2.2rem;
  }

  div.deezer-devices p {
    font-size: 1.1rem;
  }

  div.deezer-icons i {
    font-size: 2rem;
  }
}

/* Section Deezer-music Styling */

section.deezer-music {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 60px;
}

section.deezer-music h2 {
  font-size: 2.4rem;
  text-align: center;
}

section.deezer-music p {
  text-align: center;
  padding-top: 30px;
  color: #adaaa1;
}

section.deezer-music i {
  text-align: center;
}

.deezer-recommendation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  padding-top: 10px;
}

/* Mobile Style */

@media (max-width: 468px) {
  .deezer-recommendation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  div.deezer-remains {
    text-align: center;
  }

  div.deezer-remains p {
    font-size: 0.6rem;
    letter-spacing: 1px;
  }
}

.deezer-fre {
  background: #fff;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  height: 620px;
  padding-top: 15px;
  padding-bottom: 50px;
  padding-right: 30px;
  padding-left: 30px;
}

.deezer-fre h3 {
  color: #32323d;
  font-size: 2rem;
  text-align: center;
  margin-top: 10px;
}

div.deezer-button {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button#button1 {
  background: #8e8e94;
  color: #fff;
  padding: 10px 35px;
  font-size: 1rem;
}

div.tag {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.tag a {
  color: #2d96c8;
  font-weight: 500;
  font-size: 1rem;
  margin-left: 10px;
}

ul {
  /* padding-top: 30px; */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

ul li {
  list-style: none;
  margin: 15px;
  font-size: 1rem;
}

.deezer-fre1 {
  background: #2d96c8;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  height: 620px;
  padding-top: 15px;
  padding-bottom: 50px;
  padding-right: 30px;
  padding-left: 30px;
}

.deezer-fre1 h3 {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  margin-top: 10px;
}

div.deezer-button {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button#button2 {
  background: #ef5466;
  color: #f0f0f0;
  padding: 10px 35px;
  font-size: 1rem;
}

div.tag1 {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.tag1 a {
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  margin-left: 10px;
}

.deezer-fre2 {
  background: #fff;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  height: 620px;
  padding-top: 15px;
  padding-bottom: 50px;
  padding-right: 30px;
  padding-left: 30px;
}

.deezer-fre2 h3 {
  color: #32323d;
  font-size: 2rem;
  text-align: center;
  margin-top: 10px;
}

div.deezer-button {
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button#button2 {
  background: #ef5466;
  color: #f0f0f0;
  padding: 10px 35px;
  font-size: 1rem;
}

div.tag2 {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.tag2 a {
  color: #2d96c8;
  font-weight: 500;
  font-size: 1rem;
  margin-left: 10px;
}

div.deezer-remains {
  padding-top: 50px;
  padding-bottom: 40px;
}

div.deezer-remains p {
  color: #90909d;
  font-size: 0.8rem;
}

/* Section Annual Plan Styling */

section.annual-plan {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  background: #f0f0f0;
}

/* Mobile Section Annual Plan Styling */

@media (max-width: 468px) {
  section.annual-plan {
    padding-left: 20px;
    padding-right: 10px;
    flex-direction: column;
    display: flex;
  }

  div.plan1 h3 {
    font-size: 1.7rem;
  }

  div.plan1 p {
    font-size: 1rem;
  }
}

div.plan1 h3 {
  color: #32323d;
  font-size: 1.9rem;
}

div.plan1 p {
  padding-top: 10px;
  font-size: 1.2rem;
}

div.annual-subscribe {
  padding-top: 30px;
}

div.annual-subscribe a {
  border: 2px solid #32323d;
  padding: 10px 40px;
  color: #32323d;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 900;
}

/* Section Deezer Hifi Styling */

section.deezer-hifi {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  background: #f0f0f0;
}

/* Mobile Section Deezer Hifi Styling */

@media (max-width: 600px) {
  section.deezer-hifi {
    padding-left: 20px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
  }

  div.plan1 p {
    font-size: 1rem;
  }
}

div.plan1 h3 {
  color: #32323d;
  font-size: 1.9rem;
}

div.plan1 p {
  padding-top: 10px;
  font-size: 1.2rem;
}

div.hifi-learn {
  padding-top: 30px;
}

div.hifi-learn a {
  border: 2px solid #32323d;
  padding: 10px 40px;
  color: #32323d;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 900;
}

/* Deezer Footer Styling */

section.deezer-footer {
  display: grid;
  grid-template-columns: auto auto;
  background: #32323d;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 50px;
  padding-bottom: 60px;
}

/* Mobile Deezer Footer Styling */

@media (max-width: 600px) {
  section.deezer-footer {
    display: inline-block;
    /* flex-direction: column; */
    padding-left: 20px;
    padding-right: 10px;
  }

  div.footer-links-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

div.footer-image {
  padding-top: 70px;
}

div.footer-image img {
  width: 180px;
  margin-bottom: 25px;
}

#icons {
  padding-left: 10px;
}

div.footer-image i {
  color: #6e6e79;
  margin: 5px;
  border: 2px solid #6e6e79;
  border-radius: 50%;
  padding: 7px 6px;
}

div.footer-image i:hover {
  background: #6e6e79;
  color: #32323d;
}

div.footer-links-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

div.footer-links-wrap li {
  list-style: none;
  padding-top: 20px;
}

div.footer-links-wrap li a {
  color: #ccccc3;
  font-size: 0.9rem;
  font-weight: 900;
}

div.heading h4 {
  color: #2d96c8;
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-transform: uppercase;
}

div.footer-lang {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-top: 2rem;
}

div.footer-lang h5 {
  color: #ccccc3;
  font-size: 1rem;
}

div.footer-lang p {
  color: #6e6e79;
  font-size: 0.7rem;
}
